.main-container {
    height: 100vh;
}

.content {
    background-color: "#6c757d";
    margin-top: 20px;
    height: 90%;
    padding: 10px;
}

.head {
    background-color: gray;
}

.h1-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 10%;
    margin-right: 10px;
    min-width: 52px;
}

.row {
    margin-top: 20px;
}

.number-row {
    display: flex;
    align-items: center;
}

.number-data {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.number-field {
    font-size: 2.2rem;
    font-weight: bold;
}

.number-type {
    font-size: 1.5rem;
}